body {
    background-color: black;
    color: white;

    margin: 0;
    padding: 0;

    display: flex;
    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
}

header > h1 {
    margin: 8px;
}

header, footer {
    font-size: 24px;
    font-family: cursive;
    background-image: linear-gradient(to bottom right, gold, #f7f0cb);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

header, footer {
    text-align: center;
}

#main {
    display: flex;
    flex: 1;

    flex-direction: column;
    justify-content: center;

    border-radius: 8%;
    border: 5px solid #b01414;
    margin: 64px 0;
    background-color: #cb1616;
    padding: 0 128px;
}

.panelButton {
    border: none;
    box-shadow: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: -4px;
}

#settingsButton {
    background-color: black;
    color: white;
}

#clearButton {
    background-color: rgb(18, 17, 17);
    color: white;
}

#settingsForm {
    display: flex;

    flex-direction: column;
    flex: 1;

    gap: 16px;

    width: 100%;
    align-items: center;
}

#settingsForm h2 {
    margin-top: 0;
}

#formContainer {
    padding: 16px 0;
    background-color: rgb(39, 38, 38);
    border-radius: 5px;
}

.formContent {
    display: flex;
    flex: 1;

    justify-content: space-between;

    padding: 4px 0;
}

.formContent label {
    text-align: right;
    width: 50%;
}

.formContent input {
    text-align: right;

    margin: 0 10%;
    width: 30%;
}

#summary {
    display: flex;
    gap: 16px;
    color: grey;
    background-color: black;
    padding: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#formButtons {
    display: flex;

    justify-content: flex-end;
    gap: 8px;

    padding-top: 16px;
}

#formButtons button {
    border: none;
    box-shadow: none;
    background-color: black;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: rgb(2, 62, 141) !important;
}

#content {
    display: flex;
    flex: 1;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #af0c0b;
    border-radius: 10px;
    padding: 16px;
}

#grid {
    justify-content: center;
    align-items: center;

    padding: 64px;
    border-radius: 20px;

    display: flex;
    flex: 1;
    
    background-color: grey;
}

.grid-col {
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.grid-tile {
    border: 1px solid #a8acc5;
    background-color: #a8acb5;
}

header {
    padding: 16px;
}

footer {
    padding: 32px;
}

#circles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#circles > div {
    background-color: white;
    border: 10px solid lightgray;
    margin: 16px 0;
    padding: 64px;
    border-radius: 50%;
}